.reader {
	min-height: 300px;
}

.reader.success #qr-shaded-region{
	display: none;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.start-button, .start-pay-button {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
}

.merchant-name .merchant-uuid {
	border: none;
    margin: 5px 10px;
}